@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  /* background: url("../../public/assets/background.png"); */
  font-family: Arial, Helvetica, sans-serif;
}
.signup-form {
  background: url("../../public/assets/register-edit1.png");
  background-size: cover;
  height: 100vh;
}
